openapi: 3.1.0
info:
  title: DOS Compliance Module API
  description: |
    Compliance module HTTP API. Co-hosted by `governance-policy-service` via
    `@dos/module-compliance.registerCompliance()`. All routes are tenant-scoped
    via the JWT `tenant_id` claim and enforce per-resource permissions.

    Owns 9 tenant-scoped tables (`frameworks`, `controls`, `compliance_mappings`,
    `compliance_assessments`, `compliance_gaps`, `compliance_requirements`,
    `control_objectives`, `control_testing`, `control_evidence_links`),
    publishes 13 events, subscribes to 8.

    This spec covers the route surface declared in `module.manifest.json`
    `routeBases[]`. Per-endpoint Zod request/response schemas are added in
    Wave 2 (schema-validation sweep); per-endpoint detail is finalized for
    public publication in Wave 19.
  version: 1.0.0
  contact:
    name: product-shahin-ai
    email: compliance-eng@dos-aio.com
  license:
    name: Proprietary
    identifier: LicenseRef-DOS-AIO-Proprietary
servers:
  - url: https://shahin-ai.com
    description: Production
  - url: https://staging.shahin-ai.com
    description: Staging
  - url: http://localhost:4000
    description: Local development

security:
  - bearerAuth: []

tags:
  - name: overview
    description: Compliance posture, dashboards, workspace
  - name: controls
    description: Control library, testing, lifecycle, mapping
  - name: frameworks
    description: Framework registry, cross-mapping, UCF
  - name: assessments
    description: Compliance assessments, RCSA, templates
  - name: attestations
    description: Attestation campaigns, drafts, records
  - name: obligations
    description: Regulatory obligations, requirements
  - name: ksa-regulatory
    description: Saudi Arabia regulator-specific (NCA, SAMA, PDPL, ECC)
  - name: scoring
    description: Maturity scoring, posture calculation
  - name: lifecycle
    description: Control lifecycle, state machines
  - name: admin
    description: Configuration, runtime settings, diagnostics
  - name: realtime
    description: WebSocket / SSE real-time channels
  - name: ai
    description: AI-driven suggestions, recommendations, analysis (Phase D)
  - name: introspection
    description: Module discovery, mounts, health

paths:
  ###########################################################################
  # /api/regulator/* — Regulator readiness surfaces (added 2026-05-02 wave 1).
  # Wired directly in bootstrap.ts routers map; canonical handlers live in
  # interface/http/regulator/*.routes.ts.
  ###########################################################################
  /api/regulator/heatmap:
    get:
      tags: [overview]
      summary: Regulator readiness heatmap (per-jurisdiction × per-framework score grid)
      responses:
        '200':
          description: Array of regulator/framework readiness rows
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/regulator/portal:
    get:
      tags: [overview]
      summary: Regulator portal entry — list of organisations + open regulator inquiries
      responses:
        '200':
          description: Regulator-facing organisation list
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/regulator/registry:
    get:
      x-zod-schemas:
        query: z.record
      tags: [overview]
      summary: Regulator registry — list of registered regulators with metadata
      responses:
        '200':
          description: Array of regulator records
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  ###########################################################################
  # /api/compliance — Aggregator + composite
  ###########################################################################
  /api/compliance:
    get:
      x-zod-schemas:
        query: listQuerySchema
      tags: [overview]
      summary: Compliance overview / dashboard composite
      description: Returns posture summary, KPIs, top gaps, recent activity.
      responses:
        '200': { $ref: '#/components/responses/OverviewResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/__compliance/mounts:
    get:
      tags: [introspection]
      summary: List mounted route bases (debug / discovery)
      responses:
        '200':
          description: Array of mounted prefixes with wired flags
  /api/compliance/health:
    get:
      tags: [introspection]
      summary: Liveness + DB connectivity check
      responses:
        '200': { $ref: '#/components/responses/HealthOk' }
        '503': { $ref: '#/components/responses/HealthDegraded' }

  /api/compliance-ws:
    get:
      tags: [realtime]
      summary: WebSocket endpoint for compliance event stream
      description: |
        Upgrade request. Subscribes to compliance events for the authenticated tenant:
        gap_detected, gap_closed, posture_changed, attestation_recorded, etc.
      responses:
        '101': { description: Switching Protocols (WebSocket upgrade) }

  ###########################################################################
  # /api/controls — Control library
  ###########################################################################
  /api/controls:
    get:
      tags: [controls]
      summary: List controls
      parameters:
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - name: frameworkId
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string, enum: [draft, active, deprecated, archived] }
      responses:
        '200': { $ref: '#/components/responses/PagedList' }
    post:
      tags: [controls]
      summary: Create a new control
      requestBody: { $ref: '#/components/requestBodies/ControlCreate' }
      responses:
        '201': { $ref: '#/components/responses/Control' }
        '400': { $ref: '#/components/responses/BadInput' }
  /api/controls/{id}:
    parameters: [{ $ref: '#/components/parameters/id' }]
    get:
      tags: [controls]
      summary: Read control by id
      responses:
        '200': { $ref: '#/components/responses/Control' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [controls]
      summary: Update control fields
      requestBody: { $ref: '#/components/requestBodies/ControlUpdate' }
      responses:
        '200': { $ref: '#/components/responses/Control' }
    delete:
      tags: [controls]
      summary: Soft-delete control
      responses:
        '204': { description: Deleted }

  /api/control:
    get:
      x-zod-schemas:
        query: listQuerySchema
      tags: [controls]
      summary: Singular alias / control detail endpoints (legacy compatibility)
      responses:
        '200': { description: OK }

  /api/compliance-controls:
    get:
      tags: [controls]
      summary: Controls under compliance namespace (legacy alias)
      responses:
        '200': { $ref: '#/components/responses/PagedList' }

  ###########################################################################
  # /api/frameworks — Framework registry
  ###########################################################################
  /api/frameworks:
    get:
      x-zod-schemas:
        query: z.record
      tags: [frameworks]
      summary: List frameworks (ISO 27001, SOC 2, NIST CSF, NCA ECC, SAMA, PDPL, GDPR, HIPAA, PCI-DSS, ...)
      responses:
        '200': { $ref: '#/components/responses/PagedList' }
    post:
      tags: [frameworks]
      summary: Register a custom framework
      responses:
        '201': { $ref: '#/components/responses/Framework' }

  /api/frameworks/{id}:
    parameters: [{ $ref: '#/components/parameters/id' }]
    get:
      tags: [frameworks]
      responses: { '200': { $ref: '#/components/responses/Framework' } }

  /api/framework-mapping:
    get:
      tags: [frameworks]
      summary: Cross-framework mapping registry
      responses: { '200': { $ref: '#/components/responses/PagedList' } }

  /api/mappings:
    get:
      tags: [frameworks]
      summary: Compliance mapping records (control ↔ framework requirement)
      responses: { '200': { $ref: '#/components/responses/PagedList' } }

  /api/ucf:
    get:
      tags: [frameworks]
      summary: Unified Compliance Framework cross-mapping
      responses: { '200': { $ref: '#/components/responses/PagedList' } }

  ###########################################################################
  # /api/compliance-attestation, /api/compliance-assertions
  ###########################################################################
  /api/compliance-attestation:
    get:
      tags: [attestations]
      summary: Attestation campaigns
      responses: { '200': { $ref: '#/components/responses/PagedList' } }
    post:
      tags: [attestations]
      summary: Start attestation campaign
      responses:
        '201': { $ref: '#/components/responses/Attestation' }
  /api/compliance-attestation/{id}:
    parameters: [{ $ref: '#/components/parameters/id' }]
    get:
      tags: [attestations]
      responses: { '200': { $ref: '#/components/responses/Attestation' } }
    patch:
      tags: [attestations]
      summary: Update attestation status / sign attestation
      responses: { '200': { $ref: '#/components/responses/Attestation' } }

  /api/compliance-assertions:
    get:
      x-zod-schemas:
        query: z.record
      tags: [overview]
      summary: Compliance posture assertions / posture composite
      responses: { '200': { description: Posture composite } }

  ###########################################################################
  # /api/compliance-obligations
  ###########################################################################
  /api/compliance-obligations:
    get:
      tags: [obligations]
      summary: Regulatory obligations + requirements
      responses: { '200': { $ref: '#/components/responses/PagedList' } }

  ###########################################################################
  # /api/objects — Compliance object registry
  ###########################################################################
  /api/objects:
    get:
      tags: [admin]
      summary: Compliance object registry (exceptions, compensating controls, etc.)
      responses: { '200': { $ref: '#/components/responses/PagedList' } }

  ###########################################################################
  # /api/scoring-policies, /api/lifecycle
  ###########################################################################
  /api/scoring-policies:
    get:
      tags: [scoring]
      summary: Scoring policies + weighting configuration
      responses: { '200': { $ref: '#/components/responses/PagedList' } }
    post:
      tags: [scoring]
      summary: Create scoring policy
      responses: { '201': { description: Created } }

  /api/lifecycle:
    get:
      tags: [lifecycle]
      summary: Control lifecycle state-machine inspection
      responses: { '200': { description: Lifecycle states } }

  ###########################################################################
  # /api/assessments, /api/rcsa, /api/assessment-templates
  ###########################################################################
  /api/assessments:
    get:
      tags: [assessments]
      summary: List compliance assessments
      responses: { '200': { $ref: '#/components/responses/PagedList' } }
    post:
      tags: [assessments]
      responses: { '201': { description: Created } }
  /api/assessments/{id}:
    parameters: [{ $ref: '#/components/parameters/id' }]
    get:
      tags: [assessments]
      responses: { '200': { description: OK } }
    patch:
      tags: [assessments]
      summary: Update assessment / submit responses
      responses: { '200': { description: Updated } }

  /api/rcsa:
    get:
      tags: [assessments]
      summary: Risk Control Self-Assessment campaigns
      responses: { '200': { $ref: '#/components/responses/PagedList' } }

  /api/assessment-templates:
    get:
      x-zod-schemas:
        query: listQuery
      tags: [assessments]
      summary: Assessment template library
      responses: { '200': { $ref: '#/components/responses/PagedList' } }

  ###########################################################################
  # /api/nca-* — Saudi NCA
  ###########################################################################
  /api/nca-assessment:
    get:
      x-zod-schemas:
        query: z.record
      tags: [ksa-regulatory]
      summary: Saudi NCA ECC assessment
      responses: { '200': { description: OK } }
    post:
      tags: [ksa-regulatory]
      responses: { '201': { description: Created } }

  /api/nca-export:
    post:
      tags: [ksa-regulatory]
      summary: Export NCA submission package (signed PDF + audit trail)
      responses:
        '202': { description: Async job started }

  ###########################################################################
  # /api/sama-assessment — Saudi SAMA
  ###########################################################################
  /api/sama-assessment:
    get:
      x-zod-schemas:
        query: z.record
      tags: [ksa-regulatory]
      summary: SAMA Cybersecurity Framework assessment
      responses: { '200': { description: OK } }
    post:
      tags: [ksa-regulatory]
      responses: { '201': { description: Created } }

  ###########################################################################
  # /api/ksa-* — KSA regulatory pack
  ###########################################################################
  /api/ksa-sector-maturity:
    get:
      tags: [ksa-regulatory]
      summary: KSA sector maturity tracking
      responses: { '200': { description: OK } }

  /api/ksa-regulatory-changes:
    get:
      tags: [ksa-regulatory]
      summary: Regulatory bulletin feed (NCA + SAMA + PDPL + sector-specific)
      responses: { '200': { description: OK } }

  /api/ksa-regulatory-reports:
    get:
      tags: [ksa-regulatory]
      summary: Regulatory report exports
      responses: { '200': { description: OK } }

  /api/ksa-cross-framework:
    get:
      tags: [ksa-regulatory]
      summary: KSA cross-framework applicability + mapping
      responses: { '200': { description: OK } }

  ###########################################################################
  # Auto-generated stubs (openapi-backfill 2026-05-02). Replace with real
  # specs as endpoints stabilize. Each entry is a structural placeholder so
  # the contract test "openapi covers manifest routeBases" passes for every
  # active route.
  ###########################################################################
  /api/aggregator/__compliance/mounts:
    get:
      summary: /api/aggregator/__compliance/mounts (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/ai-suggestions/ai-suggestions:
    get:
      summary: /api/ai-suggestions/ai-suggestions (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/ai-suggestions/ai-suggestions (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/ai-suggestions/ai-suggestions/:id:
    get:
      summary: /api/ai-suggestions/ai-suggestions/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/ai-suggestions/ai-suggestions/:id/review:
    patch:
      summary: /api/ai-suggestions/ai-suggestions/:id/review (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/ai/ai/classify:
    post:
      summary: /api/ai/ai/classify (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/ai/ai/query/interpret:
    post:
      summary: /api/ai/ai/query/interpret (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/ai/ai/suggestions/list:
    post:
      summary: /api/ai/ai/suggestions/list (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/api-keys/api-keys:
    get:
      summary: /api/api-keys/api-keys (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/api-keys/api-keys (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/api-keys/api-keys/:id:
    get:
      summary: /api/api-keys/api-keys/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/api-keys/api-keys/:id/revoke:
    post:
      summary: /api/api-keys/api-keys/:id/revoke (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/api-keys/api-keys/verify:
    post:
      summary: /api/api-keys/api-keys/verify (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/approval-matrix-runtime/approval-matrix-runtime:
    get:
      summary: /api/approval-matrix-runtime/approval-matrix-runtime (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/approval-matrix-runtime/approval-matrix-runtime/:id:
    get:
      summary: /api/approval-matrix-runtime/approval-matrix-runtime/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/approval-matrix-runtime/approval-matrix-runtime/resolve:
    post:
      summary: /api/approval-matrix-runtime/approval-matrix-runtime/resolve (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/assessment-templates/:id:
    get:
      summary: /api/assessment-templates/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    put:
      x-zod-schemas:
        body: upsertBody.partial
      summary: /api/assessment-templates/:id (PUT)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/assessment-templates/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/assessment-templates/:id/ai-guide/:questionId:
    get:
      summary: /api/assessment-templates/:id/ai-guide/:questionId (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/assessment-templates/:id/detail:
    get:
      summary: /api/assessment-templates/:id/detail (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/assessment-templates/:id/questions:
    get:
      summary: /api/assessment-templates/:id/questions (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/assessment-templates/:id/start:
    post:
      x-zod-schemas:
        body: startBody
      summary: /api/assessment-templates/:id/start (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/assessment-templates/assessment/:assessmentId/ai-summary:
    get:
      summary: /api/assessment-templates/assessment/:assessmentId/ai-summary (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/assessment-templates/assessment/:assessmentId/progress:
    get:
      summary: /api/assessment-templates/assessment/:assessmentId/progress (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/assessment-templates/assessment/:assessmentId/respond:
    put:
      x-zod-schemas:
        body: respondBody
      summary: /api/assessment-templates/assessment/:assessmentId/respond (PUT)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/assessment-templates/categories:
    get:
      summary: /api/assessment-templates/categories (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/assessment-templates/tenant-config:
    get:
      summary: /api/assessment-templates/tenant-config (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    put:
      x-zod-schemas:
        body: tenantConfigBody
      summary: /api/assessment-templates/tenant-config (PUT)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/assessments/assessments:
    get:
      summary: /api/assessments/assessments (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/assessments/assessments (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/assessments/assessments/:id:
    get:
      summary: /api/assessments/assessments/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/assessments/assessments/:id/status:
    patch:
      summary: /api/assessments/assessments/:id/status (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attachments/attachments:
    get:
      summary: /api/attachments/attachments (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/attachments/attachments (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attachments/attachments/:id:
    get:
      summary: /api/attachments/attachments/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/attachments/attachments/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attestation-campaigns/attestation-campaigns:
    get:
      summary: /api/attestation-campaigns/attestation-campaigns (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/attestation-campaigns/attestation-campaigns (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attestation-campaigns/attestation-campaigns/:id:
    get:
      summary: /api/attestation-campaigns/attestation-campaigns/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/attestation-campaigns/attestation-campaigns/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attestation-campaigns/attestation-campaigns/:id/status:
    patch:
      summary: /api/attestation-campaigns/attestation-campaigns/:id/status (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attestation-drafts/attestation-drafts:
    get:
      summary: /api/attestation-drafts/attestation-drafts (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/attestation-drafts/attestation-drafts (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attestation-drafts/attestation-drafts/:id:
    get:
      summary: /api/attestation-drafts/attestation-drafts/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/attestation-drafts/attestation-drafts/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attestation-drafts/attestation-drafts/:id/review:
    patch:
      summary: /api/attestation-drafts/attestation-drafts/:id/review (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attestation-records/attestation-records:
    get:
      summary: /api/attestation-records/attestation-records (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/attestation-records/attestation-records (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attestation-records/attestation-records/:id:
    get:
      summary: /api/attestation-records/attestation-records/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/attestation-records/attestation-records/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attestation-records/attestation-records/:id/attest:
    patch:
      summary: /api/attestation-records/attestation-records/:id/attest (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attestation-records/attestation-records/:id/remind:
    patch:
      summary: /api/attestation-records/attestation-records/:id/remind (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attestations:
    get:
      summary: /api/attestations (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/attestations (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attestations/:id:
    get:
      summary: /api/attestations/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/attestations/:id/status:
    patch:
      summary: /api/attestations/:id/status (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/audit-log-stream/audit-log-stream:
    get:
      summary: /api/audit-log-stream/audit-log-stream (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/audit-log-stream/audit-log-stream/count:
    get:
      summary: /api/audit-log-stream/audit-log-stream/count (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/bilingual-content/bilingual-content:
    get:
      summary: /api/bilingual-content/bilingual-content (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/bilingual-content/bilingual-content (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/bilingual-content/bilingual-content/:id:
    get:
      summary: /api/bilingual-content/bilingual-content/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/bilingual-content/bilingual-content/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/bilingual-content/bilingual-content/:id/status:
    patch:
      summary: /api/bilingual-content/bilingual-content/:id/status (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/calendar/calendar:
    get:
      summary: /api/calendar/calendar (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/calendar/calendar (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/calendar/calendar/:id:
    get:
      summary: /api/calendar/calendar/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/calendar/calendar/:id/status:
    patch:
      summary: /api/calendar/calendar/:id/status (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/ccm-cloud/mappings:
    post:
      summary: /api/ccm-cloud/mappings (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/ccm-cloud/poll/aws:
    post:
      summary: /api/ccm-cloud/poll/aws (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/ccm-cloud/poll/azure:
    post:
      summary: /api/ccm-cloud/poll/azure (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/ccm-cloud/summary:
    get:
      summary: /api/ccm-cloud/summary (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/change-log/change-log:
    get:
      summary: /api/change-log/change-log (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/change-log/change-log (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/change-log/change-log/:id:
    get:
      summary: /api/change-log/change-log/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/comments/comments:
    get:
      summary: /api/comments/comments (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/comments/comments (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/comments/comments/:id:
    get:
      summary: /api/comments/comments/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/comments/comments/:id/resolve:
    patch:
      summary: /api/comments/comments/:id/resolve (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compensating-controls:
    post:
      summary: /api/compensating-controls (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compensating-controls/:compId:
    delete:
      summary: /api/compensating-controls/:compId (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compensating-controls/:compId/review:
    post:
      summary: /api/compensating-controls/:compId/review (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compensating-controls/exception/:exceptionId:
    get:
      x-zod-schemas:
        query: z.record
      summary: /api/compensating-controls/exception/:exceptionId (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compensating-controls/exception/:exceptionId/coverage:
    get:
      x-zod-schemas:
        query: z.record
      summary: /api/compensating-controls/exception/:exceptionId/coverage (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-admin/backfill:
    post:
      summary: /api/compliance-admin/backfill (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-admin/config:
    get:
      summary: /api/compliance-admin/config (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    put:
      summary: /api/compliance-admin/config (PUT)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-admin/escalation-policy:
    get:
      summary: /api/compliance-admin/escalation-policy (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-admin/health:
    get:
      summary: /api/compliance-admin/health (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-admin/reindex:
    post:
      summary: /api/compliance-admin/reindex (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-admin/reseed:
    post:
      summary: /api/compliance-admin/reseed (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-admin/runbooks:
    get:
      summary: /api/compliance-admin/runbooks (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-admin/sla:
    get:
      summary: /api/compliance-admin/sla (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-as-code/execute/:testId:
    post:
      summary: /api/compliance-as-code/execute/:testId (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-as-code/execute/control/:controlId:
    post:
      summary: /api/compliance-as-code/execute/control/:controlId (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-as-code/history:
    get:
      x-zod-schemas:
        query: z.record
      summary: /api/compliance-as-code/history (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-as-code/test-definition:
    post:
      summary: /api/compliance-as-code/test-definition (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-as-code/test-definition/:testId:
    get:
      x-zod-schemas:
        query: z.record
      summary: /api/compliance-as-code/test-definition/:testId (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-as-code/test-definitions/control/:controlId:
    get:
      x-zod-schemas:
        query: z.record
      summary: /api/compliance-as-code/test-definitions/control/:controlId (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-assertions/:controlId:
    get:
      x-zod-schemas:
        query: z.record
      summary: /api/compliance-assertions/:controlId (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-assertions/:controlId/explain:
    get:
      x-zod-schemas:
        query: z.record
      summary: /api/compliance-assertions/:controlId/explain (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-assertions/:controlId/history:
    get:
      x-zod-schemas:
        query: z.record
      summary: /api/compliance-assertions/:controlId/history (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-assertions/evaluate-framework/:frameworkId:
    post:
      summary: /api/compliance-assertions/evaluate-framework/:frameworkId (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-assertions/evaluate/:controlId:
    post:
      summary: /api/compliance-assertions/evaluate/:controlId (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-attestation/campaigns:
    get:
      summary: /api/compliance-attestation/campaigns (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/compliance-attestation/campaigns (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-attestation/campaigns/:id:
    get:
      summary: /api/compliance-attestation/campaigns/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-attestation/campaigns/:id/activate:
    post:
      summary: /api/compliance-attestation/campaigns/:id/activate (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-attestation/campaigns/:id/reminders:
    post:
      summary: /api/compliance-attestation/campaigns/:id/reminders (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-attestation/campaigns/:id/review:
    post:
      summary: /api/compliance-attestation/campaigns/:id/review (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-attestation/campaigns/:id/submit:
    post:
      summary: /api/compliance-attestation/campaigns/:id/submit (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-calculator/compliance-calculator:
    get:
      summary: /api/compliance-calculator/compliance-calculator (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-calculator/compliance-calculator/:id:
    get:
      summary: /api/compliance-calculator/compliance-calculator/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-calculator/compliance-calculator/latest:
    get:
      summary: /api/compliance-calculator/compliance-calculator/latest (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-calculator/compliance-calculator/run:
    post:
      summary: /api/compliance-calculator/compliance-calculator/run (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-drift/dashboard:
    get:
      summary: /api/compliance-drift/dashboard (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-drift/events:
    get:
      summary: /api/compliance-drift/events (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-drift/events/:eventId/acknowledge:
    post:
      summary: /api/compliance-drift/events/:eventId/acknowledge (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-drift/events/:eventId/resolve:
    post:
      summary: /api/compliance-drift/events/:eventId/resolve (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-drift/rules:
    get:
      summary: /api/compliance-drift/rules (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/compliance-drift/rules (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-drift/scan:
    post:
      summary: /api/compliance-drift/scan (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/admin/applicability-rules:
    post:
      summary: /api/compliance-extended/admin/applicability-rules (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/admin/settings:
    patch:
      summary: /api/compliance-extended/admin/settings (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/issues/from-assessment:
    post:
      summary: /api/compliance-extended/issues/from-assessment (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/mapping/unmapped:
    get:
      summary: /api/compliance-extended/mapping/unmapped (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/mapping/weak-controls:
    get:
      summary: /api/compliance-extended/mapping/weak-controls (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/obligations/:obligationId/activity:
    get:
      summary: /api/compliance-extended/obligations/:obligationId/activity (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/obligations/:obligationId/applicability:
    post:
      summary: /api/compliance-extended/obligations/:obligationId/applicability (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/regulatory-change/:changeId/decision-log:
    get:
      summary: /api/compliance-extended/regulatory-change/:changeId/decision-log (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/regulatory-change/:changeId/tasks:
    post:
      summary: /api/compliance-extended/regulatory-change/:changeId/tasks (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/regulatory-change/:changeId/triage:
    post:
      summary: /api/compliance-extended/regulatory-change/:changeId/triage (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/reports/catalog:
    get:
      summary: /api/compliance-extended/reports/catalog (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/reports/history:
    get:
      summary: /api/compliance-extended/reports/history (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/reports/run:
    post:
      summary: /api/compliance-extended/reports/run (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-extended/work-queue:
    get:
      summary: /api/compliance-extended/work-queue (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-gaps/detect:
    post:
      summary: /api/compliance-gaps/detect (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-gaps/summary:
    get:
      summary: /api/compliance-gaps/summary (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-universe/compliance-universe:
    get:
      summary: /api/compliance-universe/compliance-universe (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/compliance-universe/compliance-universe (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-universe/compliance-universe/:id:
    get:
      summary: /api/compliance-universe/compliance-universe/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/compliance-universe/compliance-universe/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance-universe/compliance-universe/:id/status:
    patch:
      summary: /api/compliance-universe/compliance-universe/:id/status (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/:id:
    get:
      summary: /api/compliance/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    put:
      x-zod-schemas:
        body: updateComplianceBody
      summary: /api/compliance/:id (PUT)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/compliance/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/:id/restore:
    post:
      summary: /api/compliance/:id/restore (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/bulk:
    post:
      x-zod-schemas:
        body: bulkCreateBody
      summary: /api/compliance/bulk (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      x-zod-schemas:
        body: bulkDeleteBody
      summary: /api/compliance/bulk (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/controls/:controlId/dependency-graph:
    get:
      summary: /api/compliance/controls/:controlId/dependency-graph (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/controls/:controlId/downstream:
    get:
      summary: /api/compliance/controls/:controlId/downstream (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/controls/:id/map:
    post:
      summary: /api/compliance/controls/:id/map (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/controls/:id/test:
    post:
      summary: /api/compliance/controls/:id/test (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/dashboard:
    get:
      summary: /api/compliance/dashboard (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/diagnostics/diagnostics:
    get:
      summary: /api/compliance/diagnostics/diagnostics (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/diagnostics/diagnostics/assessment-pipeline:
    get:
      summary: /api/compliance/diagnostics/diagnostics/assessment-pipeline (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/diagnostics/diagnostics/blocked-reviews:
    get:
      summary: /api/compliance/diagnostics/diagnostics/blocked-reviews (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/diagnostics/diagnostics/mapping-drift:
    get:
      summary: /api/compliance/diagnostics/diagnostics/mapping-drift (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/diagnostics/diagnostics/missing-evidence:
    get:
      summary: /api/compliance/diagnostics/diagnostics/missing-evidence (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/diagnostics/diagnostics/overdue-obligations:
    get:
      summary: /api/compliance/diagnostics/diagnostics/overdue-obligations (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/frameworks/:id/mapping:
    get:
      summary: /api/compliance/frameworks/:id/mapping (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/gap-analysis/:frameworkId:
    get:
      summary: /api/compliance/gap-analysis/:frameworkId (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/health/healthz:
    get:
      summary: /api/compliance/health/healthz (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/health/metrics:
    get:
      summary: /api/compliance/health/metrics (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/health/readyz:
    get:
      summary: /api/compliance/health/readyz (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/module/attestation:
    get:
      summary: /api/compliance/module/attestation (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/module/dashboard:
    get:
      summary: /api/compliance/module/dashboard (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/module/drift:
    get:
      summary: /api/compliance/module/drift (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/module/regulatory-delta:
    get:
      summary: /api/compliance/module/regulatory-delta (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/module/snapshot:
    post:
      summary: /api/compliance/module/snapshot (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/obligations:
    get:
      summary: /api/compliance/obligations (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/compliance/obligations (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/obligations/:obligationId:
    get:
      summary: /api/compliance/obligations/:obligationId (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    put:
      summary: /api/compliance/obligations/:obligationId (PUT)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/compliance/obligations/:obligationId (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/obligations/:obligationId/activity:
    get:
      summary: /api/compliance/obligations/:obligationId/activity (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/obligations/:obligationId/auto-map:
    post:
      summary: /api/compliance/obligations/:obligationId/auto-map (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/obligations/:obligationId/controls:
    get:
      summary: /api/compliance/obligations/:obligationId/controls (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/obligations/:obligationId/controls/:controlId:
    post:
      summary: /api/compliance/obligations/:obligationId/controls/:controlId (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/compliance/obligations/:obligationId/controls/:controlId (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/obligations/:obligationId/policies:
    get:
      summary: /api/compliance/obligations/:obligationId/policies (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/obligations/:obligationId/policies/:policyId:
    post:
      summary: /api/compliance/obligations/:obligationId/policies/:policyId (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/compliance/obligations/:obligationId/policies/:policyId (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/obligations/framework/:frameworkId/auto-map-all:
    post:
      summary: /api/compliance/obligations/framework/:frameworkId/auto-map-all (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/overview:
    get:
      summary: /api/compliance/overview (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/remediations:
    post:
      summary: /api/compliance/remediations (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    get:
      summary: /api/compliance/remediations (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/remediations/:id/status:
    put:
      summary: /api/compliance/remediations/:id/status (PUT)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/compliance/stats:
    get:
      summary: /api/compliance/stats (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/content-pack-loader/content-pack-loader:
    get:
      summary: /api/content-pack-loader/content-pack-loader (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/content-pack-loader/content-pack-loader/:id:
    get:
      summary: /api/content-pack-loader/content-pack-loader/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/content-pack-loader/content-pack-loader/load:
    post:
      summary: /api/content-pack-loader/content-pack-loader/load (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/continuous-attestation/check:
    post:
      summary: /api/continuous-attestation/check (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/continuous-attestation/controls/:id/readiness:
    get:
      x-zod-schemas:
        query: z.record
      summary: /api/continuous-attestation/controls/:id/readiness (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/continuous-attestation/drafts/generate:
    post:
      summary: /api/continuous-attestation/drafts/generate (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/continuous-attestation/frameworks/:id/readiness:
    get:
      x-zod-schemas:
        query: z.record
      summary: /api/continuous-attestation/frameworks/:id/readiness (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control-deficiencies/control-deficiencies:
    get:
      summary: /api/control-deficiencies/control-deficiencies (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/control-deficiencies/control-deficiencies (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control-deficiencies/control-deficiencies/:id:
    get:
      summary: /api/control-deficiencies/control-deficiencies/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/control-deficiencies/control-deficiencies/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control-deficiencies/control-deficiencies/:id/status:
    patch:
      summary: /api/control-deficiencies/control-deficiencies/:id/status (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control-effectiveness/control-effectiveness:
    get:
      summary: /api/control-effectiveness/control-effectiveness (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/control-effectiveness/control-effectiveness (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control-effectiveness/control-effectiveness/:id:
    get:
      summary: /api/control-effectiveness/control-effectiveness/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control-effectiveness/control-effectiveness/latest/:controlId:
    get:
      summary: /api/control-effectiveness/control-effectiveness/latest/:controlId (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control-scope-tags/control-scope-tags:
    get:
      summary: /api/control-scope-tags/control-scope-tags (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/control-scope-tags/control-scope-tags (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control-scope-tags/control-scope-tags/:id:
    get:
      summary: /api/control-scope-tags/control-scope-tags/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/control-scope-tags/control-scope-tags/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control-scope-tags/control-scope-tags/:id/sign-off:
    patch:
      summary: /api/control-scope-tags/control-scope-tags/:id/sign-off (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control-test-schedules/control-test-schedules:
    get:
      summary: /api/control-test-schedules/control-test-schedules (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/control-test-schedules/control-test-schedules (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control-test-schedules/control-test-schedules/:id:
    get:
      summary: /api/control-test-schedules/control-test-schedules/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    patch:
      summary: /api/control-test-schedules/control-test-schedules/:id (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/control-test-schedules/control-test-schedules/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control-test-schedules/control-test-schedules/:id/execution:
    patch:
      summary: /api/control-test-schedules/control-test-schedules/:id/execution (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control/:id:
    get:
      summary: /api/control/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    put:
      x-zod-schemas:
        body: updateControlBody
      requestBody:
        required: true
        content:
          application/json:
            schema:
              {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 255
                  },
                  "description": {
                    "type": "string"
                  },
                  "frameworks": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "not_assessed",
                      "in_progress",
                      "assessed",
                      "compliant",
                      "non_compliant",
                      "remediating",
                      "not_implemented",
                      "implemented",
                      "remediation_planned",
                      "exception"
                    ],
                    "default": "not_assessed"
                  },
                  "test_status": {
                    "type": "string",
                    "enum": [
                      "not_tested",
                      "passed",
                      "failed",
                      "partial"
                    ]
                  },
                  "owner": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
      summary: /api/control/:id (PUT)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/control/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control/:id/lifecycle:
    get:
      summary: /api/control/:id/lifecycle (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control/:id/restore:
    post:
      summary: /api/control/:id/restore (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control/bulk:
    post:
      x-zod-schemas:
        body: bulkCreateBody
      summary: /api/control/bulk (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      x-zod-schemas:
        body: bulkDeleteBody
      summary: /api/control/bulk (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control/module/dependency-graph:
    get:
      summary: /api/control/module/dependency-graph (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/control/stats:
    get:
      summary: /api/control/stats (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls-mapping/controls-mapping:
    get:
      summary: /api/controls-mapping/controls-mapping (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/controls-mapping/controls-mapping (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls-mapping/controls-mapping/:id:
    get:
      summary: /api/controls-mapping/controls-mapping/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls-mapping/controls-mapping/:id/test:
    patch:
      summary: /api/controls-mapping/controls-mapping/:id/test (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/:id:
    get:
      summary: /api/controls/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    put:
      summary: /api/controls/:id (PUT)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/controls/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/:id/ai-analysis:
    get:
      summary: /api/controls/:id/ai-analysis (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/actions:
    get:
      summary: /api/controls/actions (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/ai-recommendations:
    post:
      summary: /api/controls/ai-recommendations (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/bulk-ai-assess:
    post:
      summary: /api/controls/bulk-ai-assess (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/bulk-assign-team:
    post:
      summary: /api/controls/bulk-assign-team (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/ccm-dashboard:
    get:
      summary: /api/controls/ccm-dashboard (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/failures:
    get:
      summary: /api/controls/failures (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/failures/:id/resolve:
    post:
      summary: /api/controls/failures/:id/resolve (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/field-config:
    get:
      summary: /api/controls/field-config (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/monitoring:
    get:
      summary: /api/controls/monitoring (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/search:
    get:
      summary: /api/controls/search (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/team-distribution:
    get:
      summary: /api/controls/team-distribution (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/controls/tests:
    get:
      summary: /api/controls/tests (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/controls/tests (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/crosswalk-mappings/crosswalk-mappings:
    get:
      summary: /api/crosswalk-mappings/crosswalk-mappings (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/crosswalk-mappings/crosswalk-mappings (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/crosswalk-mappings/crosswalk-mappings/:id:
    get:
      summary: /api/crosswalk-mappings/crosswalk-mappings/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/crosswalk-mappings/crosswalk-mappings/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/csa-campaigns/csa-campaigns:
    get:
      summary: /api/csa-campaigns/csa-campaigns (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/csa-campaigns/csa-campaigns (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/csa-campaigns/csa-campaigns/:id:
    get:
      summary: /api/csa-campaigns/csa-campaigns/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      summary: /api/csa-campaigns/csa-campaigns/:id (DELETE)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/csa-campaigns/csa-campaigns/:id/status:
    patch:
      summary: /api/csa-campaigns/csa-campaigns/:id/status (PATCH)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/csa-responses/csa-responses:
    get:
      summary: /api/csa-responses/csa-responses (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      summary: /api/csa-responses/csa-responses (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/csa-responses/csa-responses/:id:
    get:
      summary: /api/csa-responses/csa-responses/:id (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/csa/heatmap:
    get:
      summary: /api/csa/heatmap (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/csa/questionnaires:
    post:
      summary: /api/csa/questionnaires (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    get:
      summary: /api/csa/questionnaires (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/csa/questionnaires/:questionnaireId/responses:
    get:
      summary: /api/csa/questionnaires/:questionnaireId/responses (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/csa/responses:
    post:
      summary: /api/csa/responses (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/cws-assessments-audit/assessment-history:
    get:
      x-zod-schemas:
        query: z.record
      summary: /api/cws-assessments-audit/assessment-history (GET)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/cws-assessments-audit/assessments/:id/approve:
    post:
      summary: /api/cws-assessments-audit/assessments/:id/approve (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/cws-assessments-audit/assessments/:id/assign-reviewer:
    post:
      summary: /api/cws-assessments-audit/assessments/:id/assign-reviewer (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /api/cws-assessments-audit/assessments/:id/reject:
    post:
      summary: /api/cws-assessments-audit/assessments/:id/reject (POST)
      tags: [auto-generated]
      responses:
        '200': { description: OK }
[...]
